@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PharmacyMedicineSupply</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-danger navbar-dark pl-5 py-3 pr-5 ">
            <a class="navbar-brand" asp-controller="User" asp-action="Index">Pharmacy Medicine Supply</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    @if (Context.Session.GetString("userName") != null)
                    {
                        @if (ViewContext.RouteData.Values["controller"].ToString() == "User" && ViewContext.RouteData.Values["action"].ToString() == "Index")
                        {
                            <li class="nav-item">
                                <a class="nav-link bg-light text-dark btn mx-2 active" asp-controller="User" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bg-danger text-light btn mx-2" asp-controller="User" asp-action="Contact">Contact</a>
                            </li>

                        }
                        else if ( ViewContext.RouteData.Values["controller"].ToString() == "User" && ViewContext.RouteData.Values["action"].ToString() == "Contact")
                        {
                            <li class="nav-item">
                                <a class="nav-link bg-danger text-light btn mx-2" asp-controller="User" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bg-light text-dark btn mx-2 active" asp-controller="User" asp-action="Contact">Contact</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link bg-danger text-light btn mx-2" asp-controller="User" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bg-danger text-light btn mx-2" asp-controller="User" asp-action="Contact">Contact</a>
                            </li>
                            
                        }
                        <a class="btn btn-danger" title="sign-out" asp-controller="User" asp-action="Logout">
                            <span class="fas fa-sign-out-alt"></span> @Context.Session.GetString("userName")
                        </a>
                    }
                </ul>
            </div>  
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
