
@{
    ViewData["Title"] = "Contact";
}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-3">Dharani</div>
            <div class="col-3"><a href="mailto:dharani@gmail.com">dharani@gmail.com</a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">Meghana</div>
            <div class="col-3"><a href="mailto:meghana@gmail.com">meghana@gmail.com</a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">Sujana</div>
            <div class="col-3"><a href="mailto:sujana1207@gmail.com">sujana1207@gmail.com</a></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">Wasim</div>
            <div class="col-3"><a href="mailto:wasimraza1698@gmail.com">wasimraza1698@gmail.com</a></div>
        </div>
    </div>

