@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-5">
    <table class="table table-bordered w-auto">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Dharani</td>
            <td><a href="mailto:dharani@gmail.com">dharani@gmail.com</a></td>
        </tr>
        <tr>
            <td>Meghana</td>
            <td><a href="mailto:meghana@gmail.com">meghana@gmail.com</a></td>
        </tr>
        <tr>
            <td>Sujana</td>
            <td><a href="mailto:sujana1207@gmail.com">sujana1207@gmail.com</a></td>
        </tr>
        <tr>
            <td>Wasim</td>
            <td><a href="mailto:wasimraza1698@gmail.com">wasimraza1698@gmail.com</a></td>
        </tr>
        </tbody>
    </table>
</div>