@{
    ViewData["Title"] = "Error";
}

<div class="jumbotron" style="height: 100vh">
    <div class="container text-center mt-5">
        <h3>Internal error occured. Please try again later.</h3>
    </div>
</div>