
@{
    ViewData["Title"] = "Unauthorized";
}

<div class="jumbotron" style="height: 100vh">
    <div class="container">
        <div class="card text-center">
            <h1>Unauthorized</h1>
            <h4>You are not authorized to view this page</h4>
        </div>
    </div>
</div>
