
@{
    ViewData["Title"] = "NoSupply";
}

    <div class="jumbotron" style="height: 100vh">
        <div class="container text-center mt-5">
            <h3>Could not retrieve supply. Try again.</h3>
        </div>
    </div>