
@{
    ViewData["Title"] = "Logout";
}

<div class="container justify-content-center">
    <h1>You are logged out successfully</h1>
    @Html.ActionLink("Login Again","Login","User",null,new {@class="btn btn-danger"})
</div>

